@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.cl-headerTitle {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.5px !important;
  font-size: 30px !important;
  display: inline-block !important;

  background: linear-gradient(to right, #059669, #10b981) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  padding-bottom: 2px;
}

.cl-formButtonPrimary {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 12px 24px !important;
  border: 2px solid #059669 !important;
  background-color: transparent !important;
  border-radius: 50px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #059669 !important;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) !important;
  z-index: 1; /* Container layer */
  height: 48px !important;
}

.cl-formButtonPrimary > span {
  position: relative;
  z-index: 10 !important;
  transition: color 0.4s ease;
}

.cl-formButtonPrimary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #059669;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.cl-formButtonPrimary:hover {
  color: white !important;
  box-shadow: 0 10px 25px rgba(5, 150, 105, 0.3);
}

.cl-formButtonPrimary:hover::before {
  width: 450px;
  height: 450px;
  opacity: 1;
}

.cl-formButtonPrimary:hover .cl-formButtonPrimary__text {
  color: white !important;
}
